

.blackout {
  background-color:var(--color-dark);
}

.grayout {
  background-color:slategray;
}

.invert, .invert * {
  color: var(--color-light) !important;
  background-color: var(--color-dark) !important;
  border-color: var(--color-light);
}


section[id*="figurine"] * {
  border:var(--border-real-thin) solid var(--color-dark);
}

.feature {
  border:var(--border-real-thin) solid var(--color-love-red) !important;
}
.border-inherit {
  border:inherit;
}

.padding-throughout, .padding-throughout *  {
  padding:var(--s2);
}

