.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.blackout {
  background-color: black;
  color:var(--color-light);
}

.grayout {
  background-color:slategray;
  color:var(--color-light);
}

/* for the children of the one calling whitelines */
.whitelines * {
  border:var(--border-thin) solid var(--color-light);
}

.border-inherit {
  border:inherit;
}

.padding-throughout, .padding-throughout *  {
  padding:var(--s2);
}

*[data-drop-shadow] {
  text-align:center;
  border-top: .1rem solid white !important;
  border-left: .1rem solid white !important;

}

*[data-lime] {
  background-color:lime !important;
  color:blue;
}

*[data-lime]:hover{
  background-color:black !important;
  color:white;

}