:root {
  --font-plain: Helvetica Neue,Helvetica,Arial,sans-serif;
  --font-serif: Georgia,serif;
  --font-special: Barlow Condensed,Helvetica,sans-serif;
  --font-mono: Menlo,Courier,Courier New,Andale Mono,monospace;
  --color-dark: #050505;
  --color-darkish: #404040;
  --color-lightish: #e6e6e6;
  --color-light: #fafafa;
  --color-mid: grey;
  --color-green: #61A590;
  --color-love-red: #d62b2b;
  --color-love-blue: #53B1EF;
  --ratio: 1.4;
  --s-5: clamp(0.33rem,0.39rem + -0.29vw,0.18rem);
  --s-4: clamp(0.41rem,0.47rem + -0.31vw,0.25rem);
  --s-3: clamp(0.51rem,0.57rem + -0.31vw,0.35rem);
  --s-2: clamp(0.64rem,0.69rem + -0.27vw,0.5rem);
  --s-1: clamp(0.8rem,0.84rem + -0.18vw,0.71rem);
  --s0: clamp(1rem,1rem + 0vw,1rem);
  --s1: clamp(1.25rem,1.19rem + 0.32vw,1.41rem);
  --s2: clamp(1.56rem,1.39rem + 0.85vw,2rem);
  --s3: clamp(1.95rem,1.61rem + 1.7vw,2.83rem);
  --s4: clamp(2.44rem,1.83rem + 3.04vw,4rem);
  --s5: clamp(3.05rem,2.04rem + 5.07vw,5.65rem);
  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8*var(--ratio));
  --border-real-thin: calc(var(--s-5)/4);
  --border-thin: var(--s-4);
  --border-thick: var(--s-2);
  --border-real-thick: var(--s-1);
  line-height: var(--ratio);
  font-size: calc(.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark)
}

*,:after,:before {
  box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid
}

@media (prefers-reduced-motion:no-preference) {
  html:focus-within {
      scroll-behavior: smooth
  }
}

body {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--measure);
    padding-inline-start: var(--s1);
    padding-inline-end: var(--s1);
    padding-block-start:var(--s5);  
    padding-block-end:var(--s5);  
    color:var(--color-dark);
    background-color:var(--color-light);
}

main > *+* {
  margin-block-start:var(--s-3);
  margin-block-end:var(--s-3);
}

section {
  display:flex;
  flex-direction:row;
  align-items: stretch;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-content:space-between;
  gap: var(--s2) var(--s-1);
}

section, section * {
  padding:var(--s1);
}

section.title {
  display:inline-block;
  align-self:start;
  margin:0;
  padding:0;
}

h1, h2, strong {
  padding:0;
  margin:0;
}

/* some page-specific items */
section h1, h2, h3 {
  border:0 !important;
}
/* box */

.box {
  padding: var(--s1);
  border: var(--border-real-thin) solid var(--color-dark);
  color: var(--color-dark);
  background-color: var(--color-light);
}

.box * {
  color: inherit;
}

#box-figurine > div {
  min-inline-size: 8rem;
  min-block-size: 8rem;
}

#box-demo > .box {
  position:relative;
  display:flex;
  flex: 1 1 20%;
  min-inline-size: calc(var(--measure) /4);
  min-block-size: calc(var(--measure) / 4);
}

#box-demo > .box:nth-of-type(3n - 2) > span:nth-child(1) {
  display: inline-block;
  align-self: start;
  padding:0;
  border:0;
}

#box-demo > .box:nth-of-type(3n - 1) > span:nth-child(1) {
  display: inline-block;
  align-self: center;
  padding:0;
  border:0;
}

#box-demo > .box:nth-of-type(3n - 0) > span:nth-child(1) {
  display: inline-block;
  align-self: end;
  padding:0;
  border:0; 
}

#box-demo > .box > img, #box-demo > .box:has(img) {
  padding:0;
  border:none;
}

#box-demo > .box:last-of-type:hover {
  border:var(--border-thin) solid var(--color-light);
}

#box-demo .words, #stack-demo .words {
  border-width:var(--border-real-thin) !important;
  padding-inline-start:var(--s-3);
  padding-inline-end:var(--s-3);
  padding-block:0;
  display:block;
  font-size:var(--s-2);
  position:absolute;
  bottom:calc(var(--border-thin)*-1.5); 
  right:calc(var(--border-thin)*1.5);
}


/* stack  - with its own box */

.stack {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width:80%;
}

.stack *+* {
  margin-block-start:var(--s1);
}

#stack-demo, #stack-demo * {
  color: var(--color-light);
  border:var(--border-thin) solid var(--color-light);

}
#stack-demo > div {
  position:relative;
}

#stack-demo .stack .box {
  position:relative;
  display:flex;
  flex: 1 1 auto;
  background-color:inherit;
  border:inherit;
  min-inline-size: calc(var(--measure) /4);
  min-block-size: calc(var(--measure) / 4); 
}

#stack-demo .stack > .box > span:nth-child(1) {
  display: inline-block;
  align-self: center;
  padding:0;
  border:0;
}

#stack-demo .stack > .box > img, #stack-demo .stack > .box:has(img) {
  padding:0;
  border:none;
}

#stack-demo .stack > .box:last-of-type:hover {
  border:var(--border-thin) solid var(--color-green);
}

#stack-demo .stack > .box:has(img) {
  align-items: center;
}

#stack-figurine > div {
  min-inline-size: 6rem;
}
#stack-figurine, #stack-figurine * {
  padding:var(--s-1);
}
#stack-figurine *+*  {
  margin-block-start:var(--s-3);

}

/* center */

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  padding-inline-start: var(--s2);
  padding-inline-end:   var(--s2);
  display:flex;
  flex-direction: column;
  align-items: center;
}

#center-demo img {
  border:var(--border-thick) dotted var(--color-love-red);  
}

#center-demo img:hover {
  border:var(--border-real-thick) dotted var(--color-love-blue);  
}

/* cluster */

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, .5rem);
  justify-content: flex-start;
  align-items: center;
}

#cluster {
  --s-custom: calc(var(--s-5) * .3); 
  padding-inline-start: 1rem;
  padding-inline-end:1rem;
  color:var(--color-light);
}

#cluster-demo > div, #cluster-demo * {
  padding:0;
  }

#cluster-demo {
  inline-size:100%;
  justify-content:space-between;
}

#cluster-demo div {
  padding:var(--s-4);
}

#cluster-demo img {
  max-inline-size:3.5rem;
  border: var(--s-custom) solid var(--color-green);
}

#cluster-demo a {
  padding:0;
  font-size: var(--s0);
}

#cluster-figurine > div {
  max-inline-size: 16 rem;
}

#cluster-figurine * {
padding:.5rem;
}

#cluster-figurine span{
  color:var(--color-light);
}

/* 
sidebar.  note - naming can get confusing.  the sidebar is the container that manages two elements, the thing that will be the actual side bar (first element int he container) and the second element which will take up the rest of the page */

.sidebar-container {
  display:flex;
  flex-wrap:wrap;
  gap:var(--s1)
}


.sidebar-container > :first-child {
  flex: 0 0 25ch;
}

.sidebar-container > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

#sidebar-demo .cluster {
  display:block;
}

#sidebar-demo * {
  color: var(--color-light);
  padding: 0;
  margin:0;
}

#sidebar-demo .box {
  background-color:transparent;
}

#sidebar-demo img {
  border:1px solid black;
}

/* flex-grid */

.grid {
  display:grid;
  gap:var(--s0);
  inline-size: 100%;
}

@supports (width: min(8ch, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(8ch, 100%), 1fr));
  }
}


#grid-demo {
  color: var(--color-light);
}

#grid-demo .grid, #grid-demo .grid * {
  border:var(--border-thin) solid var(--color-light); 
}
#grid-demo  .grid > *:nth-child(odd):last-child {
  background-color:lime !important;
}

#grid-figurine .grid {
  max-inline-size: 60%;
}

#grid-figurine  .grid > *:nth-child(odd) {
  background-color:lime !important;
}


/* switcher  */

.switcher {  
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.switcher > * {
  flex-grow: 1;  
  flex-basis: calc(( 35ch - 100%) * 999);
}

.switcher > :nth-child(2) {
  flex-grow: 3;
  background-color:lime;
}

.switcher > :nth-last-child(n+ 5),
.switcher > :nth-last-child(n+ 5) ~ * {
  flex-basis: 100%;
}

#switcher-demo {
  color:white;
}

#switcher-demo .switcher, #switcher-demo .switcher * {
  border:var(--border-thin) solid var(--color-light);
}

/* frame */

.frame {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: 0% 0%
}

#frame-demo * {
  padding:0;
}

#frame-figurine img {
  border:0;
}


@media (orientation: portrait) {
  .frame {
    aspect-ratio: 1 / 1;
  }
}