:root {
  --font-size-base: 1rem;
  --font-size-biggish: 1.75rem;
  --font-size-big: 2.25rem;

  --clr-dark:#000;
  --clr-light:#fff;

  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --border-thin: var(--s-2);
}

/* elements  */

html, body {
  min-width:20rem;
  max-width:50rem;
  min-height:100%;
  margin:auto;
  font-family: 'Mulish', sans-serif;
}

/* components */

.container {
  padding:3rem;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  
}
